/*------------------------------------*\
  #CSS-VARIABLES
\*------------------------------------*/

:root {
  --background-color: #187f9e;
  --second-background-color: #3F5866;
  --components-color: #2b3a42;
  --lines--color: #1d9dc4;
  --text-color: #f0f0df;
  --highlight-color: #e68200;
  --titles-size: 29px;
  --subtitles-size: 16px;
  --text-size: 15px;

}
.appContainer {
  display: flex;
  justify-content: center;
  background: var(--background-color);
}
.app {
  background: var(--background-color);
  padding: 20px;
  text-decoration: none;
  max-width: 1400px;
}
/*------------------------------------*\
  #HEADER-TOP
\*------------------------------------*/
.header {
  width: 100%;
  min-height: 407px;
  background: var(--components-color);
  padding: 48px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}
.header__top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header__hexagon--border {
  display: flex;
  position: relative;
  width: 216px;
  height: 236px;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 0 0 0 28px;
}
.header__hexagon__source--container {
  width: 200px;
  height: 216px;
  overflow: hidden;
  margin: 10px 8px;
  display: flex;
  position: relative;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.header__hexagon__source {
  width: 256px;
  object-fit: cover;
  position: absolute;
  top: -63px;
}
.header__text-container {
  max-width: 643px;
  width: 50%;
  color: var(--text-color);
  text-align: center;
}

.header__title {
  font-size: 33px;
  font-weight: 500;
}
.header__quote {
  padding: 28px 14px;
  font-size: 24px;
}
/*------------------------------------*\
  #HEADER-BOTTOM
\*------------------------------------*/
.header__nav {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header__nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--subtitles-size);
  color: var(--text-color);
  margin: 10px 3% 0 1%;
  transition: all 0.3s ease;
}
.header__nav__item:hover {
  text-decoration: none;
}
.header__nav__item:last-child:hover {
  opacity: 0.7;
}
.nav__item__circle {
  width: 37px;
  min-width: 37px;
  height: 37px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  font-size: 20px;
  margin-right: 10px;
}
.nav__item__circle--curriculum {
  background: #ffffff;
  border-radius: 20px;
  height: 37px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  font-weight: bold;
}

/*------------------------------------*\
  #SECTION
\*------------------------------------*/
.flex-row{
  display: flex;
}
.flex-row .section:first-child{
  margin-right: 20px;
}
.section {
  background: var(--components-color);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  margin-top: 20px;
  width: 100%;
  height: 453px;
  color: var(--text-color);
}
.section__scrollbar-handle {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.section__scrollbar-handle::-webkit-scrollbar {
  width: 5px;
}
.section__scrollbar-handle::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(53, 49, 49, 0.486);
}
.section__scrollbar-handle::-webkit-scrollbar-thumb {
  background: var(--lines--color);
  border-radius: 10px;
}
.section__title {
  font-weight: 500;
  font-size: var(--titles-size);
  padding-bottom: 11px;
  background: var(--components-color);
  position: sticky ;
  top: 0;
  z-index: 1;
}
.section__item {
  display: flex;
  align-items: flex-start;
  margin: 9px 0;
}
.section__item__icon {
  color: var(--highlight-color);
  width: 33px;
  min-width: 33px;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}
.section__item__content{
  padding-right: 13px;
}
.item__content__title{
  font-weight: 600;
  font-size: var(--subtitles-size);
}
.item__content__subtitle{
  font-weight: normal;
  font-size: var(--text-size);
  position: relative;
  padding-left: 10px;
  padding-top: 4px;
}
.item__content__subtitle::after{
  content: '';
  position: absolute;
  top: 11px;
  left: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.section__item--container--flex-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*------------------------------------*\
  #PORTFOLIO
\*------------------------------------*/
.section__item--portfolio{
  width: 126px;
  height: 95px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid var(--text-color);
  margin: 11px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.section__item--portfolio:hover{
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(-10px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(1px);
	}
	30% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-7px);
  }
  50%{
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-3px);
  }
  70%{
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-9px);
  }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(1px);
	}
}
/*------------------------------------*\
  #TECHNOLOGIES
\*------------------------------------*/

.section__item--tech {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 128px;
  height: 147px;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 11px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.section__item--tech--background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 138px;
  background-color: var(--second-background-color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.section__item--tech__image{
  object-fit: contain;
  width: 55%;
}
.section__item--tech:hover{
  transform: translatey(-10px);
	animation: float 6s ease-in-out infinite;
}