/*------------------------------------*\
  #CSS-VARIABLES
\*------------------------------------*/

:root {
  --background-color: #187f9e;
  --second-background-color: #3F5866;
  --components-color: #2b3a42;
  --lines--color: #1d9dc4;
  --text-color: #f0f0df;
  --highlight-color: #e68200;
  --titles-size: 29px;
  --subtitles-size: 16px;
  --text-size: 15px;

}
.appContainer {
  display: flex;
  justify-content: center;
  background: var(--background-color);
}
.app {
  background: var(--background-color);
  padding: 20px;
  text-decoration: none;
  max-width: 1400px;
}
/*------------------------------------*\
  #HEADER-TOP
\*------------------------------------*/
.header {
  width: 100%;
  min-height: 407px;
  background: var(--components-color);
  padding: 48px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}
.header__top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header__hexagon--border {
  display: flex;
  position: relative;
  width: 216px;
  height: 236px;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 0 0 0 28px;
}
.header__hexagon__source--container {
  width: 200px;
  height: 216px;
  overflow: hidden;
  margin: 10px 8px;
  display: flex;
  position: relative;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.header__hexagon__source {
  width: 256px;
  object-fit: cover;
  position: absolute;
  top: -63px;
}
.header__text-container {
  max-width: 643px;
  width: 50%;
  color: var(--text-color);
  text-align: center;
}

.header__title {
  font-size: 33px;
  font-weight: 500;
}
.header__quote {
  padding: 28px 14px;
  font-size: 24px;
}
/*------------------------------------*\
  #HEADER-BOTTOM
\*------------------------------------*/
.header__nav {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header__nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--subtitles-size);
  color: var(--text-color);
  margin: 10px 3% 0 1%;
  transition: all 0.3s ease;
}
.header__nav__item:hover {
  text-decoration: none;
}
.header__nav__item:last-child:hover {
  opacity: 0.7;
}
.nav__item__circle {
  width: 37px;
  min-width: 37px;
  height: 37px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  font-size: 20px;
  margin-right: 10px;
}
.nav__item__circle--curriculum {
  background: #ffffff;
  border-radius: 20px;
  height: 37px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  font-weight: bold;
}

/*------------------------------------*\
  #SECTION
\*------------------------------------*/
.flex-row{
  display: flex;
}
.flex-row .section:first-child{
  margin-right: 20px;
}
.section {
  background: var(--components-color);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  margin-top: 20px;
  width: 100%;
  height: 453px;
  color: var(--text-color);
}
.section__scrollbar-handle {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.section__scrollbar-handle::-webkit-scrollbar {
  width: 5px;
}
.section__scrollbar-handle::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(53, 49, 49, 0.486);
}
.section__scrollbar-handle::-webkit-scrollbar-thumb {
  background: var(--lines--color);
  border-radius: 10px;
}
.section__title {
  font-weight: 500;
  font-size: var(--titles-size);
  padding-bottom: 11px;
  background: var(--components-color);
  position: sticky ;
  top: 0;
  z-index: 1;
}
.section__item {
  display: flex;
  align-items: flex-start;
  margin: 9px 0;
}
.section__item__icon {
  color: var(--highlight-color);
  width: 33px;
  min-width: 33px;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}
.section__item__content{
  padding-right: 13px;
}
.item__content__title{
  font-weight: 600;
  font-size: var(--subtitles-size);
}
.item__content__subtitle{
  font-weight: normal;
  font-size: var(--text-size);
  position: relative;
  padding-left: 10px;
  padding-top: 4px;
}
.item__content__subtitle::after{
  content: '';
  position: absolute;
  top: 11px;
  left: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.section__item--container--flex-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*------------------------------------*\
  #PORTFOLIO
\*------------------------------------*/
.section__item--portfolio{
  width: 126px;
  height: 95px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid var(--text-color);
  margin: 11px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.section__item--portfolio:hover{
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
  transform: translatey(-10px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
		transform: translatey(1px);
	}
	30% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(-7px);
  }
  50%{
		box-shadow: 0 25px 13px 0px rgba(0,0,0,0.3);
		transform: translatey(-3px);
  }
  70%{
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(-9px);
  }
	100% {
		box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
		transform: translatey(1px);
	}
}
/*------------------------------------*\
  #TECHNOLOGIES
\*------------------------------------*/
.section__item--tech--wrapper {
  width: 128px;
  height: 147px;
  margin: 11px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.section__item--tech--wrapper:hover{
  filter: drop-shadow(6px 16px 16px rgba(50, 50, 0, 6));
  transform: translatey(-10px);
	animation: floatTech 6s ease-in-out infinite;
}
@keyframes floatTech {
	0% {
    filter: drop-shadow(8px 6px 2px rgba(50, 50, 0, 6));
		transform: translatey(1px);
	}
	30% {
    filter: drop-shadow(8px 14px 10px rgba(50, 50, 0, 6));
		transform: translatey(-7px);
  }
  50%{
    filter: drop-shadow(8px 10px 6px rgba(50, 50, 0, 6));;
		transform: translatey(-3px);
  }
  70%{
    filter: drop-shadow(8px 17px 13px rgba(50, 50, 0, 6));;
		transform: translatey(-9px);
  }
	100% {
    filter: drop-shadow(8px 6px 2px rgba(50, 50, 0, 6));
		transform: translatey(1px);
	}
}
.section__item--tech {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 128px;
  height: 147px;
  background-color: var(--lines--color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.section__item--tech--background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 138px;
  background-color: var(--second-background-color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.section__item--tech__image{
  object-fit: contain;
  width: 55%;
}
/*------------------------------------*\
  #Portfolio Modal
\*------------------------------------*/
.modal--background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  width: 80%;
  max-width: 836px;
  min-height: 540px;
  background: var(--components-color);
  border-radius: 46px;
  position: relative;
  padding: 45px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_close-icon {
  position: absolute;
  top: 45px;
  right: 42px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.modal__title {
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 22px;
  font-weight: 600;
}
.modal__content {
  display: flex;
}
.content__image {
  width: 50%;
  max-width: 367px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 6px 6px 16px 7px rgb(0 0 0 / 50%);
  margin-right: 29px;
}
.content__description {
  font-size: var(--text-size);
  color:var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
}
.modal__buttons {
  display: flex;
  justify-content: space-around;
}
.buttons__button{
  text-decoration: none;
  width: 150px;
  height: 31px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: var(--subtitles-size);
  transition: all 0.3s ease;
}
.demo {
  color: var(--text-color);
  background-color: var(--highlight-color);
  margin-right: 10px;
}
.demo:hover {
  color: #FF8F00;
  background-color: var(--text-color);
}
.repo {
  color: #FF8F00;
  background-color: var(--text-color);
}
.repo:hover{
  color: var(--text-color);
  background-color: var(--highlight-color);
}
.modal__technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.modal__technologies .section__item--tech--wrapper , 
.modal__technologies .section__item--tech {
  width: 84px;
  height: 93px;
}
.modal__technologies .section__item--tech--background {
  width: 77px;
  height: 86px;
}
.technologies--modal .modal__title {
  display: flex;
  justify-content: center;
}
.technologies--modal .modal__content {
  min-height: 353px;
  align-items: center;
}
.technologies--modal .content__image {
  box-shadow: none;
  margin-left: 29px;
  width: 40%;
  max-height: 230px;
  object-fit: contain;
}
.technologies--modal .modal {
  justify-content: flex-start;
}
.technologies--modal .content__description {
  width: 60%;
  min-height: 331px;
  padding: 20px;
}
.scroll-tech {
  width: 100%;
  height: 136px;
  margin-top: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.scroll-tech .section__item--portfolio {
  margin: 0 8px;
  height: 100px;
  width: 130px;
  max-width: 130px;
  min-width: 130px;
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
}
.scroll-tech .section__item--portfolio:hover {
  animation: none;
  transform: scale(1.05)
}
.scroll__left-button, .scroll__right-button {
  position: absolute;
  width: 26px;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
  transition: all .3s ease;
}
.scroll__left-button:hover, .scroll__right-button:hover {
  background: rgba(0, 0, 0, 0.534);
}
.scroll__left-button:hover > *, .scroll__right-button:hover > * {
  transform: scale(1.2);
}
.scroll-tech .scroll__left-button {
  top: 0;
  left: 0;
  transition: all .3s ease-in-out;
}
.scroll-tech .scroll__right-button {
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s ease-in-out;
}
.scroll-tech .scroll__container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 7px;
  transition: all .3s ease-in-out;
}