/*------------------------------------*\
  #CSS-VARIABLES
\*------------------------------------*/

:root {
  --background-color: #187f9e;
  --components-color: #2b3a42;
  --lines--color: #1d9dc4;
  --text-color: #f0f0df;
  --highlight-color: #e68200;
  --titles-size: 29px;
  --subtitles-size: 16px;
  --text-size: 15px;
}
.app {
  background: var(--background-color);
  padding: 20px;
  text-decoration: none;
  width: 100vw;
}
